-f https://download.pytorch.org/whl/nightly/cpu/torch/
# The nightly wheels for pytorch are regularly deleted and we don't bump the
# versions at the same pace. The wheels will therefore be cached on the xilinx
# release page, and we use this page as an additional source for the wheels.
-f https://xilinx.github.io/torch-mlir/package-index/
# Temporarily using stable wheel until we are back at a nightly version that is
# available.
--extra-index-url https://download.pytorch.org/whl/cpu
--pre
torch==2.7.0+cpu
