-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
# The nightly wheels for torchvision are regularly deleted and we don't bump the
# versions at the same pace. The wheels will therefore be cached on the xilinx
# release page, and we use this page as an additional source for the wheels.
-f https://xilinx.github.io/torch-mlir/package-index/
--pre
torchvision==0.18.0.dev20240307
